body {
  text-align: center;
  padding: 10px 100px 10px;
}

.nav a {
  margin: 0px 25px;
  color: grey;
}
html {
  background: url("img/Header_Soccer.jpg") no-repeat center fixed;
  background-size: cover;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  text-align: center;
  color: rgb(141, 7, 58);
  margin: 60px 100px 50px;
  font-size: 50px;
}
h2 {
  letter-spacing: 1px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: lightblue;
  border-radius: 10px;
  font-size: 30px;
}
h3 {
  margin-top: 10px;
  margin-left: 10px;
}
